[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyLPA"]
	path = tidyLPA
	url = https://github.com/data-edu/tidylpa
[submodule "tidySEM"]
	path = tidySEM
	url = https://github.com/cjvanlissa/tidySEM
	registered = false
